* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-height: 450px;
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #5d7399;
}

.content {
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: #d2e1ec;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbcfe1), color-stop(80%, #e8f2f6));
  background-image: linear-gradient(to bottom, #bbcfe1 0%, #e8f2f6 80%);
  overflow: hidden;
  background-image: url(../image/olaf-5220944_640.png);
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: 450px 400px;
}
@media screen and (max-width: 992px) {
    .content {background-position: bottom 80px right 200px !important;}
    
}


.main-text {
  padding: 2vh 20px 0 20px;
  text-align: center;
  line-height: 2em;
  font-size: 5vh;
}

.home-link {
  font-size: 0.6em;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  border-bottom: 1px dashed rgba(93, 115, 153, 0.5);
}
.home-link:hover {
  opacity: 1;
}

.ground {
  height: 130px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f6f9fa;
  
  box-shadow: 0 0 10px 10px #f6f9fa;
}
.ground:before, .ground:after {
  content: '';
  display: block;
  width: 250px;
  height: 250px;
  position: absolute;
  top: -62.5px;
  z-index: -1;
  background: transparent;
  -webkit-transform: scaleX(0.2) rotate(45deg);
          transform: scaleX(0.2) rotate(45deg);
}
.ground:after {
  left: 50%;
  margin-left: -166.6666666667px;
  box-shadow: -340px 260px 15px #9dabc4, -570px 630px 15px #aab6cb, -855px 945px 15px #aab6cb, -1165px 1235px 15px #aab6cb, -1465px 1535px 15px #97a6c0, -1785px 1815px 15px #94a3be, -2075px 2125px 15px #8193b2, -2370px 2430px 15px #a7b4c9, -2685px 2715px 15px #8a9bb8, -2980px 3020px 15px #aab6cb, -3290px 3310px 15px #bac4d5, -3595px 3605px 15px #b4bed1, -3895px 3905px 15px #8798b6, -4210px 4190px 15px #aab6cb, -4475px 4525px 15px #a4b1c8, -4830px 4770px 15px #b4bed1;
}
.ground:before {
  right: 50%;
  margin-right: -166.6666666667px;
  box-shadow: 305px -295px 15px #adb9cd, 560px -640px 15px #7e90b0, 890px -910px 15px #a4b1c8, 1210px -1190px 15px #91a1bc, 1495px -1505px 15px #94a3be, 1840px -1760px 15px #aab6cb, 2115px -2085px 15px #b0bccf, 2395px -2405px 15px #8e9eba, 2730px -2670px 15px #91a1bc, 2980px -3020px 15px #8a9bb8, 3260px -3340px 15px #8e9eba, 3620px -3580px 15px #a4b1c8, 3905px -3895px 15px #94a3be, 4185px -4215px 15px #bac4d5, 4505px -4495px 15px #8496b4, 4845px -4755px 15px #8a9bb8;
}

.mound {
  margin-top: -80px;
  font-weight: 800;
  font-size: 180px;
  text-align: center;
  color: #dd4040;
  pointer-events: none;
}
.mound:before {
  content: '';
  display: block;
  width: 600px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 50px;
  z-index: 1;
  border-radius: 100%;
  background-color: #e8f2f6;
  background-image: linear-gradient(to bottom, #dee8f1, #f6f9fa 60px);
}
.mound:after {
  content: '';
  display: block;
  width: 28px;
  height: 6px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 68px;
  z-index: 2;
  background: #dd4040;
  border-radius: 100%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  box-shadow: -56px 12px 0 1px #dd4040, -126px 6px 0 2px #dd4040, -196px 24px 0 3px #dd4040;
}

.mound_text {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

.mound_spade {
  display: block;
  width: 35px;
  height: 30px;
  position: absolute;
  right: 50%;
  top: 42%;
  margin-right: -250px;
  z-index: 0;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  background: #dd4040;
}
.mound_spade:before, .mound_spade:after {
  content: '';
  display: block;
  position: absolute;
}
.mound_spade:before {
  width: 40%;
  height: 30px;
  bottom: 98%;
  left: 50%;
  margin-left: -20%;
  background: #dd4040;
}
.mound_spade:after {
  width: 100%;
  height: 30px;
  top: -55px;
  left: 0%;
  box-sizing: border-box;
  border: 10px solid #dd4040;
  border-radius: 4px 4px 20px 20px;
}
#menuToggle
{
  
  display: block;
  position: fixed;
  top: 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
  
  #menuToggle a
  {
    text-decoration: none;
    color: #f8f6f6;
    
    transition: color 0.5s ease;
  }
  
  #menuToggle a:hover
  {
    color: #08dbc9;
    transition: margin-right 2s .5s;
    
  }

  a
  {
    text-decoration: none;
    color: #5d739a;
    
    transition: color 0.5s ease;
  }
  
  a:hover
  {
    color: #5e8fe4;
    transition: margin-right 2s .5s;
    
  }
  
  
  #menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 90vw;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
  
  /*
   * Just a quick hamburger
   */
   #menuToggle span
   {
     display: block;
     width: 33px;
     height: 4px;
     margin-bottom: 7px;
     position: relative;
     left: 90vw;
     background: #282828;
     border-radius: 3px;
     
     z-index: 1;
     
     transform-origin: 4px 0px;
     
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                 opacity 0.55s ease;
   }
  
   #menuToggle span:first-child
   {
     transform-origin: 0% 0%;
   }
   
   #menuToggle span:nth-last-child(2)
   {
     transform-origin: 0% 100%;
   }
   
   /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
   #menuToggle input:checked ~ span
   {
     opacity: 1;
     transform: rotate(45deg) translate(-2px, -1px);
     background: #f3f0f0;
   }
   
   /*
    * hide the middle one
    */
   #menuToggle input:checked ~ span:nth-last-child(3)
   {
     opacity: 0;
     transform: rotate(0deg) scale(0.2, 0.2);
   }
   
   /*
    * last one should go the other direction
    */
   #menuToggle input:checked ~ span:nth-last-child(2)
   {
     transform: rotate(-45deg) translate(0, -1px);
   }
   
   #menu
   {
     position: absolute;
     width: 100vw;
     height: 110vh;
     margin: -100px 0 0 0;
     padding: 50px;
     padding-top: 125px;
     text-align:left;
     
     
     background: #061c3dd5;
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
     /* to stop flickering of text in safari */
     text-transform: uppercase;
     font-weight: 900;
     transform-origin: 0% 0%;
     transform: translate(0, -100%);
     
     transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0);
   }
   /* #menu::before {background-image: url(../image/olaf-5220944_640.png) !important;} */
   #menu li
   {
     padding: 30px 0;
     font-size: 22px;
     
   }
   
   /*
    * slide it in
    */
   #menuToggle input:checked ~ ul
   {
     transform: none;
   }
   .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.46875rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn:hover,
  .btn:focus {
    text-decoration: none;
  }
  
  .btn:focus,
  .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
  }
  
  .btn.disabled,
  .btn:disabled {
    opacity: 0.65;
    box-shadow: none;
  }
  
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .btn:not(:disabled):not(.disabled):active,
  .btn:not(:disabled):not(.disabled).active {
    background-image: none;
    box-shadow: none;
  }
  
  .btn:not(:disabled):not(.disabled):active:focus,
  .btn:not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25), none;
  }
  
  a.btn.disabled,
  fieldset:disabled a.btn {
    pointer-events: none;
  }
  
  .btn-primary {
    color: #ffffff;
    background-color: #2196f3;
    border-color: #2196f3;
    box-shadow: none;
  }
  
  .btn-primary:hover {
    color: #ffffff;
    background-color: #0c83e2;
    border-color: #0c7cd5;
  }
  
  .btn-primary:focus,
  .btn-primary.focus {
    box-shadow: none, 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
  }
  
  .btn-primary.disabled,
  .btn-primary:disabled {
    color: #ffffff;
    background-color: #2196f3;
    border-color: #2196f3;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active,
  .show>.btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #0c7cd5;
    border-color: #0b75c9;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none, 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
  }
   .btn-outline-primary {
    color: #2196f3;
    background-color: transparent;
    background-image: none;
    border-color: #2196f3;
  }
  
  .btn-outline-primary:hover {
    color: #ffffff;
    background-color: #2196f3;
    border-color: #2196f3;
  }
  
  .btn-outline-primary:focus,
  .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
  }
  
  .btn-outline-primary.disabled,
  .btn-outline-primary:disabled {
    color: #2196f3;
    background-color: transparent;
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled):active,
  .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show>.btn-outline-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #2196f3;
    border-color: #2196f3;
  }
  
  .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
  .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
  .show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.5);
  }